<%- include header %>
<% posts.forEach(function(post, index){ %>
<div style="background-color: #ffffff; padding: 10px; margin:10px 0;" class="img-rounded div-list">
<h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>" class="title"><%= post.title %></a></h2><a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head img-rounded" style="width:105px;"></img></a>
<p class="info">
	作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 
	日期：<%= post.time.minute %> | 
	标签：
	<% post.tags.forEach(function(tag, index) { %>
	<% if(tag) { %>
	<a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
	<% }}) %>
</p>
<%- post.post %><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">阅读全文</a>
<p class="info">阅读：<%= post.pv %> | 评论：<span id = "sourceId::<%= post.name %><%= post.time.day %><%= post.title %>" class = "cy_cmt_count" ></span></p>
</div>
<% }) %>
<%- include paging %>
<%- include footer %>